<nav class="nav-bar">
    <div class="container">
        <ul>
            <li><a href="/asiakkaat">Asiakkaat</a></li>
            <li><a href="/laskut">Laskut</a></li>
            <li><a href="/tarvikkeet">Tarvikkeet</a></li>
            <li><a href="/toimittajat">Toimittajat</a></li>
            <li><a href="/tyokohteet">Työkohteet</a></li>
            <li><a href="/tyosopimukset">Työsopimukset</a></li>
        </ul>
    </div>
</nav>